.about {
    padding: 80px 50px;
    background-color: #282828;
    font-family: Candara;
    display: flex;
    flex-direction: column;
}

.about .topText {
    font-size: 50px;
    color: #fff;
}

.about .bottomText {
    margin-top: 20px;
    line-height: 1.5;
    color: #999;
    width: 50%;
}