.weAre {    /* Div Father */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    font-family: Candara;
    background-color: #000;
}

.weAre .center {        /* Div children */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Div Children Top */
.weAre .center .centerTop {     /* Div Top que contém o texto e o Line */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weAre .center .centerTop .line {       /* Line */
    width: 20%;
    height: 2px;
    border-radius: 2px;
    background-color: #0CB4CE;
    margin-top: 15px;
}

.weAre .span1 {     /* Texto */
    font-size: 50px;
    color: #fff;
}
/** */

/* Div children middle */
.weAre .center .row {       /*  Div alinhada */
    display: flex;
    padding: 50px;
}

.weAre .center .row .rowItem {      /* Item da Div alinhada */
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weAre .center .row .rowItem span {     /* Texto da Div alinhada */
    font-weight: 700;
    color: #666;
    margin-top: 10px;
    text-transform: uppercase;
    transition: 500ms;
}
/** */

/* Div Children Bottom */
.weAre .center .bigText {           /* Div All, para não mudar o tamanho do texto e dá um efeito ruim */
    height: 150px;
}

.weAre .center .bigText .span2{     /* Texto */
    color: #999;
    animation: fade 1s;
    font-size: 17px;
    line-height: 1.5;
}
/** */

/* Hovers */
.weAre .center .row .rowItem:hover {        /* Div Children Middle Alinhada Item */
    cursor: pointer;
}
/** */


/* Animation */
@keyframes fade {       /* Usada no Texto do Div Children Bottom para dar efeito de fade ao trocar o foco */
    from{opacity: 0}
    top{opacity: 1}
}
/** */